.image-section {
}

.status-section {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  margin: 0;
  margin-bottom: 16px;
}

.status-span {
  margin-left: 5px;
  margin-right: 5px;
}
