
.list-paragraph {
  color: white;
  font-size: 20px;
  text-align: center;
}

.list-section {
  display: flex;
  max-width: 1100px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
