
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-container-inner {
  width: 100%;
  max-width: 650px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
}

.search-fields-container {
  margin-bottom: 20px;
}

.search-fields-container form {
  width: 100%;
}

.search-field-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.second {
  margin-bottom: 0px;
}

.last {
  justify-content: flex-start;
}

.search-field-input {
  width: 49%;
}

@media screen and (max-width: 600px) {
  .search-field-row {
    display: block;
  }

  .search-field-input {
    width: 100%;
    margin-bottom: 20px;
  }
}
